<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src=../../../jquery-3.1.0.js></script>
<script src=../../../jquery.loadTemplate-1.4.4.js></script><!--순서 바뀌면 안됨.-->
	<script>
			$(document).ready(function (e) {
				

			    var item = [];
                item[0] = {
                    id:"1",
                    name: "레몬",
                    price: "3000",
                    description: "레몬에 포함되어 있는 쿠앤산은 피로회복에 좋다. 비타민C도 풍부하다.",
					img: "apple_gray.png"
                }
                item[1] = {
                    id:"2",
                    name: "키위",
                    price: "2000",
                    description: "비타민C가 풍부하다. 다이어트와 미용에도 매우 좋다.",
                    img: "apple_red.png"
                }

                $("#posts-container").loadTemplate($("#mTemplate"),item);
            })
	</script>
</head>
<body>
	<!-- 템플릿 생성 -->
	<script type=text/html id=mTemplate>
		<div class="post-container" >
			<div data-content-append="id"></div>
			<div data-content="name"></div>
			<div data-content="price"></div>
			<div data-content="description"></div>
			<img data-src="img"  width=100 height= 100/>
		</div>
	</script>

	<!-- 템플릿이 들어갈 컨테이너 생성 -->
	<div id="posts-container">
	</div>


</body>
</html>